.c1{
    left: 20pt;
}

main{
    margin-top: -200px;
}

main h2{
    margin-top: -50px;
}

#UTSC{
    width: 80%;
    height: 500px;
}

footer ul {
    text-align: center;
    font-size: 10pt;
    margin-bottom: -100pt;
}