.c1{
    left: 20pt;
}

main{
    margin-top: -200px;
}

main h2{
    margin-top: -50px;
}

main img{
    width: 200px;
    height: 200px;

}

#sk1{
    float: left;
    margin-left: 30px;
    margin-right: 100px;
}

#sk2{
    margin-top: -62px;
    margin-left: 400px;
}

#sk3{
    float: right;
    margin-top: -52%;
    margin-right: 50px;
}


footer ul {
    text-align: center;
    font-size: 10pt;
    margin-bottom: -100pt;
}