* {
    margin: 0px;
    padding: 0px;

}

header {
    /* 포지션을 잡는 역할 */
    top: 0px;
    left: 0px;
    position: sticky;
}

nav {
    width: 100%;
    height: 60px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: white;
}

nav a:hover {
    background-color: aliceblue;
    color: blue;

}

nav li {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 60px;
    /* background-color: aliceblue; */
}

main {
    display: flex;
    flex-direction: column;
}

article {
    background-color: gray;
    margin: 20px;
    padding: 20px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

article h1{
    margin-right: 30%;
}

#a1 img {
    width: 100%;
    border: 5px solid black;
    width: 220px;
    height: 300px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: left;
    
}

article ul {
    margin: 20px;
    background-color: yellow;

}

#a2 {
    background-color: aqua;

}

#a4,
#a6 {
    background-color: gray;
}

.c3 {
    background-color: beige;
}

h1 {
    background-color: blueviolet;
}

.c3>h1 {
    background-color: azure;
}

/* .c3>ul>li 와 동일 */
.c3 li {
    background-color: chocolate;
}